parameters:
    melodia_file.directory_namer.class: Melodia\FileBundle\Utils\DirectoryNamer
    melodia_file.file_saving.listener.class: Melodia\FileBundle\EventListener\FileSavingListener

services:
    melodia_file.directory_namer:
        class: %melodia_file.directory_namer.class%
        arguments: [@service_container]

    melodia_file.file_saving.listener:
        class: %melodia_file.file_saving.listener.class%
        arguments: [@service_container]
        tags:
            - { name: doctrine.event_listener, event: postPersist }
